@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap');

.chatapp {
  .main {
    width: 100%;
    height: 100%;
  }
}

* {
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
}